--
-- PostgreSQL database dump
--

\restrict c7Msgg55Hx6E5F1ZjbE4W8wfjXyGUqHyRiY1T8aCNZlE4fSQNbIX8faQ6mFC9IX

-- Dumped from database version 17.7 (Debian 17.7-3.pgdg13+1)
-- Dumped by pg_dump version 17.7 (Debian 17.7-3.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: carte_fidelite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carte_fidelite (
    id integer NOT NULL,
    utilisateur_id integer NOT NULL,
    magasin_id integer NOT NULL,
    code_barre integer NOT NULL
);


ALTER TABLE public.carte_fidelite OWNER TO postgres;

--
-- Name: carte_magasin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carte_magasin (
    id integer NOT NULL,
    magasin_id integer NOT NULL,
    rayon_id integer NOT NULL,
    chemin_asbolut text NOT NULL
);


ALTER TABLE public.carte_magasin OWNER TO postgres;

--
-- Name: carte_magasin_donnee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carte_magasin_donnee (
    magasin_id integer NOT NULL,
    donnees jsonb NOT NULL,
    date_heure_modification timestamp without time zone NOT NULL
);


ALTER TABLE public.carte_magasin_donnee OWNER TO postgres;

--
-- Name: carts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carts (
    id integer NOT NULL,
    user_id integer NOT NULL,
    shop_id integer NOT NULL,
    barcode integer NOT NULL,
    total_price integer NOT NULL,
    creation_time timestamp without time zone NOT NULL
);


ALTER TABLE public.carts OWNER TO postgres;

--
-- Name: carts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.carts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.carts_id_seq OWNER TO postgres;

--
-- Name: carts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.carts_id_seq OWNED BY public.carts.id;


--
-- Name: etage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.etage (
    id integer NOT NULL,
    magasin_id integer NOT NULL,
    numero integer NOT NULL
);


ALTER TABLE public.etage OWNER TO postgres;

--
-- Name: magasin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.magasin (
    id integer NOT NULL,
    libelle text NOT NULL,
    longitude double precision,
    latitude double precision,
    chemin_absolut_logo text NOT NULL
);


ALTER TABLE public.magasin OWNER TO postgres;

--
-- Name: magasin_favori; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.magasin_favori (
    id integer NOT NULL,
    utilisateur_id integer NOT NULL,
    magasin_id integer NOT NULL
);


ALTER TABLE public.magasin_favori OWNER TO postgres;

--
-- Name: magasin_favori_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.magasin_favori ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.magasin_favori_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: panier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.panier (
    id integer NOT NULL,
    utilisateur_id integer NOT NULL,
    magasin_id integer NOT NULL,
    code_barre integer NOT NULL,
    total_ttc integer NOT NULL,
    date_heure_creation timestamp without time zone NOT NULL
);


ALTER TABLE public.panier OWNER TO postgres;

--
-- Name: panier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.panier ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.panier_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product (
    code_barre integer NOT NULL,
    rayon_id integer NOT NULL,
    promotion_id integer,
    libelle character varying NOT NULL,
    image integer,
    prix double precision NOT NULL
);


ALTER TABLE public.product OWNER TO postgres;

--
-- Name: product_code_barre_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_code_barre_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_code_barre_seq OWNER TO postgres;

--
-- Name: product_code_barre_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_code_barre_seq OWNED BY public.product.code_barre;


--
-- Name: produit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.produit (
    code_barre bigint NOT NULL,
    rayon_id integer NOT NULL,
    promotion_id integer,
    libelle text NOT NULL,
    image text,
    prix integer NOT NULL,
    quantite double precision DEFAULT 0,
    unite character varying DEFAULT ''::character varying
);


ALTER TABLE public.produit OWNER TO postgres;

--
-- Name: promotion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promotion (
    id integer NOT NULL,
    magasin_id integer NOT NULL,
    libelle text NOT NULL,
    date_heure_debut timestamp without time zone NOT NULL,
    date_heure_fin timestamp without time zone NOT NULL,
    mode_promotion text NOT NULL,
    quantite_acheter integer,
    quantite_offert integer,
    pourcentage_reduction double precision,
    reduction_fixe double precision,
    caniotte_immediate boolean
);


ALTER TABLE public.promotion OWNER TO postgres;

--
-- Name: rayon; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rayon (
    id integer NOT NULL,
    magasin_id integer NOT NULL,
    etage_id integer NOT NULL,
    libelle text NOT NULL,
    point1_x double precision NOT NULL,
    point1_y double precision NOT NULL,
    point2_x double precision NOT NULL,
    point2_y double precision NOT NULL
);


ALTER TABLE public.rayon OWNER TO postgres;

--
-- Name: role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.role (
    id integer NOT NULL,
    libelle text NOT NULL,
    archivage boolean NOT NULL
);


ALTER TABLE public.role OWNER TO postgres;

--
-- Name: scan_panier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.scan_panier (
    id integer NOT NULL,
    panier_id integer NOT NULL,
    produit_id bigint NOT NULL,
    quantite integer NOT NULL,
    date_heure_creation timestamp without time zone NOT NULL
);


ALTER TABLE public.scan_panier OWNER TO postgres;

--
-- Name: scan_panier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.scan_panier ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.scan_panier_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop (
    id integer NOT NULL,
    libelle character varying NOT NULL,
    long double precision NOT NULL,
    lat double precision NOT NULL,
    logo character varying NOT NULL
);


ALTER TABLE public.shop OWNER TO postgres;

--
-- Name: shop_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.shop_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shop_id_seq OWNER TO postgres;

--
-- Name: shop_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.shop_id_seq OWNED BY public.shop.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    username character varying NOT NULL
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: utilisateur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utilisateur (
    id integer NOT NULL,
    role_id integer NOT NULL,
    magasin_id integer,
    nom text NOT NULL,
    prenom text NOT NULL,
    mail text NOT NULL,
    mdp text NOT NULL
);


ALTER TABLE public.utilisateur OWNER TO postgres;

--
-- Name: carts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts ALTER COLUMN id SET DEFAULT nextval('public.carts_id_seq'::regclass);


--
-- Name: product code_barre; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product ALTER COLUMN code_barre SET DEFAULT nextval('public.product_code_barre_seq'::regclass);


--
-- Name: shop id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop ALTER COLUMN id SET DEFAULT nextval('public.shop_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Data for Name: carte_fidelite; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.carte_fidelite (id, utilisateur_id, magasin_id, code_barre) FROM stdin;
\.


--
-- Data for Name: carte_magasin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.carte_magasin (id, magasin_id, rayon_id, chemin_asbolut) FROM stdin;
\.


--
-- Data for Name: carte_magasin_donnee; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: carts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.carts (id, user_id, shop_id, barcode, total_price, creation_time) FROM stdin;
\.


--
-- Data for Name: etage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.etage (id, magasin_id, numero) FROM stdin;
1	1	0
\.


--
-- Data for Name: magasin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.magasin (id, libelle, longitude, latitude, chemin_absolut_logo) FROM stdin;
1	Supermarch├® Test	2.3522	48.8566	/logos/magasin_test.png
2	Pipeur Shop	2.3524	48.8568	/logos/magasin_test.png
\.


--
-- Data for Name: magasin_favori; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.magasin_favori (id, utilisateur_id, magasin_id) FROM stdin;
1	1	1
2	1	1
3	1	1
4	1	1
\.


--
-- Data for Name: panier; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.panier (id, utilisateur_id, magasin_id, code_barre, total_ttc, date_heure_creation) FROM stdin;
13	1	1	0	1	2026-04-30 08:57:55.227711
14	1	1	0	2	2026-04-30 09:08:36.284209
15	1	1	0	1	2026-04-30 09:11:48.686951
16	1	1	0	2	2026-04-30 09:29:34.112982
17	1	1	0	4	2026-04-30 09:42:09.743493
18	1	1	0	1	2026-04-30 10:01:34.245823
19	1	1	0	2	2026-04-30 10:18:20.104507
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product (code_barre, rayon_id, promotion_id, libelle, image, prix) FROM stdin;
\.


--
-- Data for Name: produit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.produit (code_barre, rayon_id, promotion_id, libelle, image, prix, quantite, unite) FROM stdin;
3274080005003	1	1	Bouteille dÔÇÖeau 1.5L	/images/eau.png	1	0	
\.


--
-- Data for Name: promotion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.promotion (id, magasin_id, libelle, date_heure_debut, date_heure_fin, mode_promotion, quantite_acheter, quantite_offert, pourcentage_reduction, reduction_fixe, caniotte_immediate) FROM stdin;
1	1	Promo boissons	2026-01-14 12:31:29.094511	2026-02-13 12:31:29.094511	POURCENTAGE	\N	\N	10	\N	f
\.


--
-- Data for Name: rayon; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rayon (id, magasin_id, etage_id, libelle, point1_x, point1_y, point2_x, point2_y) FROM stdin;
1	1	1	Boissons	0	0	10	5
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.role (id, libelle, archivage) FROM stdin;
1	ADMIN	f
\.


--
-- Data for Name: scan_panier; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shop; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop (id, libelle, long, lat, logo) FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."user" (id, email, hashed_password, username) FROM stdin;
\.


--
-- Data for Name: utilisateur; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.utilisateur (id, role_id, magasin_id, nom, prenom, mail, mdp) FROM stdin;
1	1	1	Doe	John	john.doe@test.com	hashed_password
\.


--
-- Name: carts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.carts_id_seq', 1, false);


--
-- Name: magasin_favori_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.magasin_favori_id_seq', 4, true);


--
-- Name: panier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.panier_id_seq', 19, true);


--
-- Name: product_code_barre_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_code_barre_seq', 1, false);


--
-- Name: scan_panier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.scan_panier_id_seq', 49, true);


--
-- Name: shop_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_id_seq', 1, false);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 1, false);


--
-- Name: carte_fidelite carte_fidelite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_fidelite
    ADD CONSTRAINT carte_fidelite_pkey PRIMARY KEY (id);


--
-- Name: carte_magasin_donnee carte_magasin_donnee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_magasin_donnee
    ADD CONSTRAINT carte_magasin_donnee_pkey PRIMARY KEY (magasin_id);


--
-- Name: carte_magasin carte_magasin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_magasin
    ADD CONSTRAINT carte_magasin_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: etage etage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etage
    ADD CONSTRAINT etage_pkey PRIMARY KEY (id);


--
-- Name: magasin_favori magasin_favori_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.magasin_favori
    ADD CONSTRAINT magasin_favori_pkey PRIMARY KEY (id);


--
-- Name: magasin magasin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.magasin
    ADD CONSTRAINT magasin_pkey PRIMARY KEY (id);


--
-- Name: panier panier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.panier
    ADD CONSTRAINT panier_pkey PRIMARY KEY (id);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (code_barre);


--
-- Name: produit produit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produit
    ADD CONSTRAINT produit_pkey PRIMARY KEY (code_barre);


--
-- Name: promotion promotion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotion
    ADD CONSTRAINT promotion_pkey PRIMARY KEY (id);


--
-- Name: rayon rayon_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rayon
    ADD CONSTRAINT rayon_pkey PRIMARY KEY (id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: scan_panier scan_panier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scan_panier
    ADD CONSTRAINT scan_panier_pkey PRIMARY KEY (id);


--
-- Name: shop shop_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop
    ADD CONSTRAINT shop_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: utilisateur utilisateur_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_pkey PRIMARY KEY (id);


--
-- Name: ix_shop_libelle; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_shop_libelle ON public.shop USING btree (libelle);


--
-- Name: ix_user_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_user_email ON public."user" USING btree (email);


--
-- Name: ix_user_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_user_username ON public."user" USING btree (username);


--
-- Name: carte_fidelite carte_fidelite_magasin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_fidelite
    ADD CONSTRAINT carte_fidelite_magasin_id_fkey FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: carte_fidelite carte_fidelite_magasin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_fidelite
    ADD CONSTRAINT carte_fidelite_magasin_id_fkey1 FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: carte_fidelite carte_fidelite_utilisateur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_fidelite
    ADD CONSTRAINT carte_fidelite_utilisateur_id_fkey FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id);


--
-- Name: carte_fidelite carte_fidelite_utilisateur_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_fidelite
    ADD CONSTRAINT carte_fidelite_utilisateur_id_fkey1 FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id);


--
-- Name: carte_magasin_donnee carte_magasin_donnee_magasin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_magasin_donnee
    ADD CONSTRAINT carte_magasin_donnee_magasin_id_fkey FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: carte_magasin carte_magasin_magasin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_magasin
    ADD CONSTRAINT carte_magasin_magasin_id_fkey FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: carte_magasin carte_magasin_magasin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_magasin
    ADD CONSTRAINT carte_magasin_magasin_id_fkey1 FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: carte_magasin carte_magasin_rayon_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_magasin
    ADD CONSTRAINT carte_magasin_rayon_id_fkey FOREIGN KEY (rayon_id) REFERENCES public.rayon(id);


--
-- Name: carte_magasin carte_magasin_rayon_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carte_magasin
    ADD CONSTRAINT carte_magasin_rayon_id_fkey1 FOREIGN KEY (rayon_id) REFERENCES public.rayon(id);


--
-- Name: etage etage_magasin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etage
    ADD CONSTRAINT etage_magasin_id_fkey FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: etage etage_magasin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.etage
    ADD CONSTRAINT etage_magasin_id_fkey1 FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: magasin_favori magasin_favori_magasin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.magasin_favori
    ADD CONSTRAINT magasin_favori_magasin_id_fkey FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: magasin_favori magasin_favori_magasin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.magasin_favori
    ADD CONSTRAINT magasin_favori_magasin_id_fkey1 FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: magasin_favori magasin_favori_utilisateur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.magasin_favori
    ADD CONSTRAINT magasin_favori_utilisateur_id_fkey FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id);


--
-- Name: magasin_favori magasin_favori_utilisateur_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.magasin_favori
    ADD CONSTRAINT magasin_favori_utilisateur_id_fkey1 FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id);


--
-- Name: panier panier_magasin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.panier
    ADD CONSTRAINT panier_magasin_id_fkey FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: panier panier_magasin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.panier
    ADD CONSTRAINT panier_magasin_id_fkey1 FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: panier panier_utilisateur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.panier
    ADD CONSTRAINT panier_utilisateur_id_fkey FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id);


--
-- Name: panier panier_utilisateur_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.panier
    ADD CONSTRAINT panier_utilisateur_id_fkey1 FOREIGN KEY (utilisateur_id) REFERENCES public.utilisateur(id);


--
-- Name: produit produit_promotion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produit
    ADD CONSTRAINT produit_promotion_id_fkey FOREIGN KEY (promotion_id) REFERENCES public.promotion(id);


--
-- Name: produit produit_promotion_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produit
    ADD CONSTRAINT produit_promotion_id_fkey1 FOREIGN KEY (promotion_id) REFERENCES public.promotion(id);


--
-- Name: produit produit_rayon_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produit
    ADD CONSTRAINT produit_rayon_id_fkey FOREIGN KEY (rayon_id) REFERENCES public.rayon(id);


--
-- Name: produit produit_rayon_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produit
    ADD CONSTRAINT produit_rayon_id_fkey1 FOREIGN KEY (rayon_id) REFERENCES public.rayon(id);


--
-- Name: promotion promotion_magasin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotion
    ADD CONSTRAINT promotion_magasin_id_fkey FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: promotion promotion_magasin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotion
    ADD CONSTRAINT promotion_magasin_id_fkey1 FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: rayon rayon_etage_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rayon
    ADD CONSTRAINT rayon_etage_id_fkey FOREIGN KEY (etage_id) REFERENCES public.etage(id);


--
-- Name: rayon rayon_etage_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rayon
    ADD CONSTRAINT rayon_etage_id_fkey1 FOREIGN KEY (etage_id) REFERENCES public.etage(id);


--
-- Name: rayon rayon_magasin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rayon
    ADD CONSTRAINT rayon_magasin_id_fkey FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: rayon rayon_magasin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rayon
    ADD CONSTRAINT rayon_magasin_id_fkey1 FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: scan_panier scan_panier_panier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scan_panier
    ADD CONSTRAINT scan_panier_panier_id_fkey FOREIGN KEY (panier_id) REFERENCES public.panier(id);


--
-- Name: scan_panier scan_panier_panier_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scan_panier
    ADD CONSTRAINT scan_panier_panier_id_fkey1 FOREIGN KEY (panier_id) REFERENCES public.panier(id);


--
-- Name: scan_panier scan_panier_produit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scan_panier
    ADD CONSTRAINT scan_panier_produit_id_fkey FOREIGN KEY (produit_id) REFERENCES public.produit(code_barre);


--
-- Name: scan_panier scan_panier_produit_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.scan_panier
    ADD CONSTRAINT scan_panier_produit_id_fkey1 FOREIGN KEY (produit_id) REFERENCES public.produit(code_barre);


--
-- Name: utilisateur utilisateur_magasin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_magasin_id_fkey FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: utilisateur utilisateur_magasin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_magasin_id_fkey1 FOREIGN KEY (magasin_id) REFERENCES public.magasin(id);


--
-- Name: utilisateur utilisateur_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- Name: utilisateur utilisateur_role_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateur
    ADD CONSTRAINT utilisateur_role_id_fkey1 FOREIGN KEY (role_id) REFERENCES public.role(id);


--
-- PostgreSQL database dump complete
--

\unrestrict c7Msgg55Hx6E5F1ZjbE4W8wfjXyGUqHyRiY1T8aCNZlE4fSQNbIX8faQ6mFC9IX

